/*menu*/
body {
    font-family: Arial;
    text-align: center;
    background: #222;
    color: white;
}

.menu button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

/* ocultar proyectos */
.oculto {
    display: none;
}
/* ajedrez */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #293266;
}

#tablero {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border: 3px solid black;
}

.casilla {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    user-select: none;
    transition: transform 0.2s;
}

/* pequeño efecto al pasar el ratón */
.casilla:hover {
    transform: scale(1.05);
}
/* JUEGO */
.game {
    width: 400px;
    height: 200px;
    border: 2px solid white;
    margin: auto;
    position: relative;
    overflow: hidden;
}

#personaje {
    position: absolute;
    bottom: 0;
    left: 50px;
    font-size: 30px;
}

#obstaculo {
    width: 10px;
    height: 20px;
    background: rgb(178, 141, 238);
    position: absolute;
    bottom: 0;
    right: 0;
    animation: mover 2s linear infinite;
}

/* animación obstáculo */
@keyframes mover {
    from { right: -20px; }
    to { right: 100%; }
}
/* salto */
.saltar {
    animation: salto 0.5s;
}

@keyframes salto {
    0% { bottom: 0; }
    50% { bottom: 80px; }
    100% { bottom: 0; }
}
